/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* universal styles start here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    scroll-behavior: smooth;
}



/* shared styles start here*/
.btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    text-decoration:none;
}

.first-width {
    width: 85vw;
    margin: 0 auto;
    border: 2px solid red;

    /* margin: 0px 150px; */
}

.second-width {
    width: 75vw;
    margin: 0 auto;
    border: 2px solid green;

    /* margin: 0px 21px; */
}

.third-width {
    width: 63vw;
    margin: 0 auto;
    border: 2px solid blue;

    /* margin: 0px 294px; */
}

.reason-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.reason-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 44px;
}

/* header styles start here */
header {
    margin-bottom: 74px;
}

.nav-style {
    margin-top: 38px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-style h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

#hero {
    background-image: url("../assets/hero.png");
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person-container {
    margin-bottom: 32px;
    padding-top: 24px;
}
.hero-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: 68px;
}

.hero-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding: 0 50px;
}

.contact-btn-container {
    margin: 44px 0;
}

#contact-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-decoration: none;
    padding: 21px 24px 21px 24px;

}

/* header styles end here */


/* why web section styles start here */
#why-web-section {}

.why-web-contents {}

.why-web-title-container {
    text-align: center;
    margin-bottom: 48px;
    padding-top: 80px;
    padding-left: 48px;
    padding-right: 48px;
}

.why-web-title-container h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.why-web-title-container p {
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}




/* why web section styles end here */
#why-web-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 90px;
}

.why-web-contents {}

.why-web-title-container {}

.why-web-title-container h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.why-web-title-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.why-web-reasons {
    padding-bottom: 80px;
}

.why-web-reason {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    background-color: white;
}

.reason-left-container-1 {
    margin-right: 148px;

}

.reason-right-container-1 {}

.reason-left-container-2 {
    margin-right: 49px;
}

.reason-right-container-2 {}

.reason-left-container-3 {}

.reason-right-container-3 {}

/* inspiration section */
#inspiration-section {
    margin-bottom: 151px;
}

.inspiration-title-contents {
    padding: 0 48px;
    margin-bottom: 32px;
}

.inspiration-title-contents h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
    text-align: center;
}

.inspiration-title-contents p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* margin-bottom: 48px; */
    text-align: center;
}

.iframe-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.iframe-container iframe {
    width: 1147px;
    height: 550px;
    padding: 32px;
    border-radius: 56px;
}
/* current target styles */
#current-target-section {
    margin-bottom: 111px;
}

#current-target-title-container {}

/* will later use for shared styles */
.section-title-container {
    margin-bottom: 48px;
    text-align: center;
    padding: 0 48px;
}

.section-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.section-title-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.current-targets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.current-target {
    padding: 40px;
}

.current-target-logo-container {
    margin-bottom: 24px;
}

.html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.js {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.current-target h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}

.current-target p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

/* later will use for shared styles */
.load-more-container {}

.load-more-container a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/* support section styles */
#support-section {
    background-image: url("../assets/handshake.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    border-radius: 16px;
    background-blend-mode: overlay;
    background-position: center;
    margin-bottom: 80px;
}

#support-section h1 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}

#support-section p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 16px;
}

.input-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    margin: 0px 16px;
    width: 748px;
    height: 56px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    outline: none;

}

#submit {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 55px;
    outline: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
}

/* footer styles */
footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section h5 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

#social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#social-icons{
    text-decoration: none;
}