/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* universal styles start here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* universal styles end here*/


/* shared styles start here*/
.btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    background-color: white;
}


/* shared styles end here*/
.first-width {
    width: 85vw;
    margin: 0 auto;
    border: 2px solid red;

    /* margin: 0px 150px; */
}

.second-width {
    width: 75vw;
    margin: 0 auto;
    border: 2px solid green;

    /* margin: 0px 21px; */
}

.third-width {
    width: 63vw;
    margin: 0 auto;
    border: 2px solid blue;

    /* margin: 0px 294px; */
}

.reason-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.reason-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 44px;
}

/* header styles start here */
header {
    margin-bottom: 74px;
}

.nav-style {
    margin-top: 38px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-style h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

#hero {
    background-image: url("../assets/hero-bg.png");
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person-container {
    margin-bottom: 32px;
}

.hero-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: 68px;
}

.hero-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;

}

.contact-btn-container {
    margin: 44px 0;
}

#contact-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-decoration: none;
    padding: 21px 24px 21px 24px;

}

/* header styles end here */


/* why web section styles start here */
#why-web-section {}

.why-web-contents {}

.why-web-title-container {
    text-align: center;
    margin-bottom: 48px;
}

.why-web-title-container h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.why-web-title-container p {
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}




/* why web section styles end here */
#why-web-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 168px;
}

.why-web-contents {}

.why-web-title-container {}

.why-web-title-container h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.why-web-title-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.why-web-reasons {}

.why-web-reason {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px 0;
}

.reason-left-container-1 {
    margin-right: 148px;

}

.reason-right-container-1 {}

.reason-left-container-2 {
    margin-right: 49px;
}

.reason-right-container-2 {}

.reason-left-container-3 {}

.reason-right-container-3 {}

/* inspiration section */
#inspiration-section {
    margin-bottom: 151px;
}

.inspiration-contents {}

.inspiration-title-contents {}

.inspiration-title-contents h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
    text-align: center;
}

.inspiration-title-contents p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
    text-align: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    width: 1076px;
    height: 550px;
    padding: 32px;
}

/* current target styles */
#current-target-section {
    margin-bottom: 111px;
}

#current-target-title-container {}

/* will later use for shared styles */
.section-title-container {
    margin-bottom: 48px;
    text-align: center;
}

.section-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.section-title-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.current-targets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.current-target {
    padding: 40px;
}

.current-target-logo-container {
    margin-bottom: 24px;
}

.html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.js {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.current-target h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}

.current-target p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

/* later will use for shared styles */
.load-more-container {}

.load-more-container a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}