/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* universal styles start here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* universal styles end here*/


/* shared styles start here*/
.btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    background-color: white;
}


/* shared styles end here*/
.first-width {
    width: 85vw;
    margin: 0 auto;
    border: 2px solid red;

    /* margin: 0px 150px; */
}

.second-width {
    width: 75vw;
    margin: 0 auto;
    border: 2px solid green;

    /* margin: 0px 21px; */
}

.third-width {
    width: 63vw;
    margin: 0 auto;
    border: 2px solid blue;

    /* margin: 0px 294px; */
}

/* header styles start here */
header {
    margin-bottom: 74px;
}

.nav-style {
    margin-top: 38px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-style h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

#hero {
    background-image: url("../assets/hero-bg.png");
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person-container {
    margin-bottom: 32px;
}

.hero-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: 68px;
}

.hero-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;

}

.contact-btn-container {
    margin: 44px 0;
}

#contact-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-decoration: none;
    padding: 21px 24px 21px 24px;

}

/* header styles end here */


/* why web section styles start here */
#why-web-section {}

.why-web-contents {}

.why-web-title-container {
    text-align: center;
    margin-bottom: 48px;
}

.why-web-title-container h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.why-web-title-container p {
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}




/* why web section styles end here */